*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    background-color:orange;
    width:40%;
    padding:60px 0;
    border-radius:10px;
}
#display{
   background-color:grey;
   width:90%;
   padding:30px 0;
   left:50%;
   font-size: 30px;
   text-align: center;
   position:relative;
   transform: translateX(-50%);
   color:white;
   border-radius:5px;
   box-shadow: 0 0 20px #7c7575;
    
}
.buttons{
    display:flex;
   
    justify-content: space-around;
     margin-top:30px;
    
}
.buttons button{
    padding:10px 25px;
    border:none;
    background:white;
    font-size:16px;
    border-radius: 5px;
    cursor:pointer;
}